<!DOCTYPE html>
<html style="background-color:#181818;" >
  <head>
    <title >Good Times Loans</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color:#181818; color:#98d2ff">

    <h1 style="color:#98d2ff"> Good Times Local Hire </h1>

    <!-- Renders the nav bar as a partial -->
    <%= render 'shared/nav'%>

    <!-- Added for Devise not sure what it does -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    
  </body>
</html>
